{
  "plugins": [
    "prettier-plugin-multiline-arrays",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "semi": true,
  "bracketSpacing": true,
  "arrayBracketNewline": true,
  "arrayBracketSpacing": true,
  "singleAttributePerLine": true,
  "multilineArraysWrapThreshold": -1,
  "importOrder": [
    "^@controllers/(.*)$",
    "^@creators/(.*)$",
    "^@models/(.*)$",
    "^@converters/(.*)$",
    "^@extractors/(.*)$",
    "^@factories/(.*)$",
    "^@queries/(.*)$",
    "^@services/(.*)$",
    "^@prisma/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
